In [ ]:
'''如果忘記密碼
AlTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '新密碼';
'''

In [1]:
!pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pymysql

In [2]:
host = 'localhost'
port = 3306
user = 'root'
passwd = '2482'
db = 'TESTDB'
charset = 'utf8mb4'

In [3]:
# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print('Successfully connected!')

Successfully connected!

In [4]:
# 建立游標
cursor = conn.cursor()

In [ ]:
#以下執行mysql語法~~~~

In [5]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""
cursor.execute(sql)

1

In [6]:
# 產生時間的方式如下
import time
t = time.localtime()  #會印出目前時間的tuple 
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)   #用來把時間轉換成自己想要看的格式

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [7]:
# 因 pymysql 預設不會自動 commit，故要記得用連線去 commit
conn.commit()

In [8]:

# 試著將資料表中的資料取出
# 先寫好 SQL 語法 
#!!!!強烈建議不要寫 select all ，因為以後欄可能會改變!!!!!(全部欄位寫出)
sql = """
SELECT * FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

2

In [9]:
# 將查詢結果取出 用fetch all，要宣告一個變數去接住他
data = cursor.fetchall()  #取出目前拿詢內容的全部
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),
 ('002',
  'Judy',
  '002',
  30,
  'F',
  48000,
  datetime.datetime(2021, 2, 7, 14, 50, 46)))

In [10]:
# 從資料庫將 datetime 形態的資料取出後，在 Python 中會變成 datetime 物件
# 將 datetime 物件轉為字串
data[1][6].strftime('%Y-%m-%d %H:%M:%S')

'2021-02-07 14:50:46'

In [11]:
#清空以上資料
sql = '''
DELETE FROM Staff;
'''


cursor.execute(sql)
conn.commit()

# 05_executeSQL Simple Example.ipynb

In [2]:
import json
import time

path = './Staff.json'      #打開json字串個式的檔案
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [3]:
# 並將語法中會不斷改變的部分挖空 ( %s )
#一定要用這個模式打!!! 不能用.format
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [4]:
# 整理 jsondata 成可 insert 進資料庫的樣子，格式如下
'''
[('001', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]
'''
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]  # (t,) 是給他一個逗點讓t變值組  就可以相加
values

[('001', 'Mike', '002', '45', 'M', '60000', '2021-02-18 21:55:52'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2021-02-18 21:55:52'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2021-02-18 21:55:52'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2021-02-18 21:55:52'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2021-02-18 21:55:52'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2021-02-18 21:55:52'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2021-02-18 21:55:52'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2021-02-18 21:55:52')]

In [8]:
## 上一格的備註 ##

print([d for d in jsondata])   #for d in jsondata (直接印字典會印出key)
print('=============')
print([tuple(jsondata[d].values()) for d in jsondata]) # jsondata[key].values() 印出這key裡所有value

['001', '002', '003', '004', '005', '006', '007', '008']
=============
[('001', 'Mike', '002', '45', 'M', '60000'), ('002', 'Judy', '002', '30', 'F', '48000'), ('003', 'Allen', '001', '22', 'M', '50000'), ('004', 'Tom', '002', '47', 'M', '47000'), ('005', 'Jack', '003', '36', 'M', '52000'), ('006', 'Abby', '002', '24', 'F', '45000'), ('007', 'Trump', '001', '80', 'M', '80000'), ('008', 'Marry', '003', '29', 'F', '87000')]

In [18]:
# 將 SQL 批量執行 executemany一次執行多筆
print('新增資料筆數:', cursor.executemany(sql_insert, values))

# Commit 並檢查資料是否存入資料庫
conn.commit()

新增資料筆數: 8

In [19]:
# 先關閉游標  再關連線
cursor.close()
conn.close()